.segmentadores {
    font-family: "Poppins Regular" !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    text-transform: capitalize !important;
}

.titulo-radio {
    font-family: 'Poppins Regular', sans-serif;
    font-weight: 600 !important;
    font-size: 15px !important;
    line-height: 23px !important;
    text-transform: capitalize !important;
}

.subtitulo-radio {
    font-family: 'Poppins Regular', sans-serif;
    color: var(--ion-color-medium);
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 17px !important;
    text-transform: capitalize !important;
}
