<app-cabecera></app-cabecera>
<ion-content>
    <ion-grid fixed>
        <ion-row class="ion-align-items-center">
            <ion-col size="12" size-md="10" offset-md="1">
                <ion-segment color="primary" value="todas">
                    <ion-segment-button value="todas">
                        <ion-label class="segmentadores" >Todas</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="recientes">
                        <ion-label class="segmentadores" >Recientes</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="favoritos">
                        <ion-label class="segmentadores" >Favoritos</ion-label>
                    </ion-segment-button>
                </ion-segment>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col *ngFor="let emisora of emisoras"  size="6" size-md="2">
                            <div (click)="seleccionarEmisora(emisora)">
                                <img style="border-radius: 5px !important;" [src]="emisora.logo" [alt]="emisora.titulo">
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-item>
        <ion-thumbnail slot="start" style="margin-right: 5px !important;">
            <img [src]="emisoraSeleccionada.logo" />
        </ion-thumbnail>
        <div style="width: 100% !important;">
            <div class="ion-margin-start ion-margin-top">
                <ion-label class="titulo-radio">{{emisoraSeleccionada.titulo}}</ion-label>
                <ion-label class="subtitulo-radio">{{emisoraSeleccionada.titulo}} - 98.03 Fm</ion-label>
            </div>
            <ion-range readonly style="margin-left: 5px !important;" min="0" max="100" color="success"></ion-range>
        </div>
        <ion-buttons slot="end">
            <ion-button (click)="cambiarEstado()">
                <ion-icon slot="icon-only" [name]="this.estaReproduciendo ? 'stop-outline' : 'play-outline'"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-footer>