<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="primary" slot="icon-only" src="../../../assets/icon/menu.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-searchbar class="buscar-texto"  placeholder="Buscar" animated></ion-searchbar> -->
    <ion-buttons slot="end">
      <ion-button (click)="cambiarModoVisual()">
        <ion-icon color="primary" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>